.env
/register_form_learn_and_grow_backend/.env
/register_form_learn_and_grow_frontend/.env
/register_form_learn_and_grow_database_production/.env
*/node_modules/
*/package-lock.json
*/dist/
/temp_files/
/real_env_files_temp/
/backend-logs/
/backups/