SERVER_HOST=0.0.0.0
SERVER_PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=guardapi

AD_API_URL=
AD_API_KEY=
TWOFACTOR_SPEAKEASY_SECRET_STR=

FRONTEND_URL=http://localhost:5173

JWT_SECRET=jwt_temp_secret

#Log
LOG_PATH=../backend-logs