APP_ENV=development
APP_NAME=LearnAndGrow
TIMEZONE=Asia/Bangkok

# Server
PORT=8000
BASE_PATH=

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=your_database

# JWT
JWT_SECRET=???

# 2FA
TWOFACTOR_SPEAKEASY_SECRET_STR=NBTC_Learn_and_Grow_Backend

# CORS
FRONTEND_URL=http://localhost:3000
AD_API_URL=???

# AD Service
AD_API_KEY=your-ad-api-key

# Logging
LOG_PATH=/var/log/calculator-app